<style>
          body{
    background: url("BACKGROUND URL HERE") no-repeat top center fixed;
    background-size: cover;
    margin:  0;
    padding: 0;
    height: 100%;
    width: 100%;
}
        </style>
    <!--Below This is the button, to change the button color style ect., edit the attributes accordlingly -->
    <style>
a:link {
    color: green; --/Change the color of the link
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink; --/ Change the color of the link if it has been visited
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red; --/ Change the color of the link when you hover over if with your cursor
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow; --/ Change the color of the link if you are clicking it
    background-color: transparent;
    text-decoration: underline;
}
</style>
